@import "tailwindcss";
@plugin "daisyui" {
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-secondary: rgb(80, 89, 106);
  --color-accent: rgb(65, 110, 174);
  --color-neutral-content: rgb(219, 221, 224);
}
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
}

@theme {
  --font-sans: "Inter Variable", "Helvetica Neue";
}
