@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-accent: rgb(173, 184, 89);
  --color-secondary: rgb(238,	242,	247);
  --color-primary-content: rgb(45, 55, 72);
  --color-secondary-content: rgb(80, 89, 106);
  --color-accent-content: rgb(65, 110, 174);
  --color-neutral-content: rgb(219, 221, 224);
}
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  --color-secondary: rgb(13, 17, 27);
  --color-base-100: rgb(17, 24, 39);
  --color-secondary-content: rgb(226, 231, 238);
  --color-accent-content: rgb(149, 223, 212);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans: "Inter Variable", "Helvetica Neue";
  --animate-spin: spin 25s linear infinite;
  --animate-wave: wave 2.5s infinite;

  @keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
}


html {
  transition: all 0.3s ease 0s;
}